@font-face {
  font-family: kiarash-shamaii;
  src: url(../fonts/Yekan.ttf);
}

html, body, div, span,
p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: kiarsh-shamaii;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

@font-face {
  font-family: myFirstFont;
  src: url(../fonts/Yekan.ttf);
}

.navbarmain {
  background-color: rgba(0, 0, 0, 0.6);
}

/* change the color of active or hovered links */
.nav-item.active .nav-link,
.nav-item:focus .nav-link,
.nav-item:hover .nav-link {
  text-decoration: none;
  color: #467ac4 !important;
}

.mainpart {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url("../images/header-img.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../images/header-img.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.section2 {
  background: #202833;
}

.seprator {
  border-top: 4px solid #C5C6C8;
}

.hidelement {
  opacity: 0;
}

.section3 {
  background: #4E4E50;
}

.image-content:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.image-content:hover .contentimage {
  background: rgba(0, 0, 0, 0.8);
}

.image-content {
  position: relative;
  -webkit-box-shadow: 0px 5px 35px #8888;
          box-shadow: 0px 5px 35px #8888;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0;
  margin: 0 3px 3px 0;
}

.image-content .contentimage {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  bottom: 20px;
  position: absolute;
  width: 250px;
  padding: 5px;
  height: 40px;
}

.section4 {
  color: #4E4E50;
  background-color: #E8ECED;
}

.navbread {
  background-color: #E8ECED;
}

.navbread a {
  text-decoration: none;
  color: #4E4E50;
}

.pics {
  -webkit-box-shadow: 0px 5px 35px #8888;
          box-shadow: 0px 5px 35px #8888;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.pics:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.animation {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.all {
  display: block;
}

.section5 {
  background-color: #343A40;
}

.imageslider {
  border-radius: 50%;
}

.img-height {
  height: 70vh;
}

.bg-card-pro {
  background: url(../images/pricing-card-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 45% 0%;
  background-size: cover;
}

.transparent-bg {
  background: transparent;
}

.seprator1 {
  border-top: 1px solid #c5c6c8;
}

.services {
  -webkit-box-shadow: 2px 5px 20px #888888;
          box-shadow: 2px 5px 20px #888888;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  height: 85vh;
}

.services:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services {
  min-height: 70vh;
}

.animate-left {
  position: absolute;
  left: 10px;
}

@media (max-width: 768px) {
  .animate-left {
    position: static;
  }
}

.animate-right {
  position: absolute;
  right: 10px;
}

@media (max-width: 768px) {
  .animate-right {
    position: static;
  }
}

/** @format */
.bg-contact {
  background: url("../images/form-img.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
}

.overlay {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(0, 0, 0, 0.9)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 100%, black 100%);
  -webkit-clip-path: polygon(0 0%, 100% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0%, 100% 0, 75% 100%, 0% 100%);
  height: 100%;
}

.bg-input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  margin-top: 15px;
}

.normal-list {
  text-decoration: none;
  list-style-type: none;
}

.normal-list a {
  color: #ECFFFF;
}

.normal-list a:hover {
  text-decoration: none;
  color: #467ac4 !important;
}

.footer-copy {
  border-top: 1px solid #c5c6c8;
}
/*# sourceMappingURL=style.css.map */