// variables
// color part 
$bg-color :#202833 !default;
$bg-color2 :#4E4E50;
$bg-color3 :  #E8ECED;
$bg-color4: #343A40;
$seprator-color : #C5C6C8;
$navbarColor : #467ac4;
$navbarBg: rgba(0, 0, 0, 0.6);
$textcolor:#ECFFFF;


// variables